.c{
    display: flex;
    justify-content: center;
    gap: 20px; /* spacing between items */
    padding: 20px;
}
.left{
    float: left;
    width: 120PX;
}
.right{
    
    justify-content: right;
    margin: right;
}
.CN{
    
}
.t{
     text-size-adjust: 200%;
}
.red{
    background-color: red ;
    min-inline-size: 500px;
    color: white;
    text-align: center;
}
.bd{
     border: 6px solid blue;
    border-top: none;
    margin: 50px;
    padding: 20px;
    width: 90%;
}
.blue{
    background-color:lightblue;
}
.p{
    text-align: center;
}
.un{
    background-color: lightblue;
}