.c{
    display: flex;
    justify-content: center;
    gap: 20px; /* spacing between items */
    padding: 20px;
}
.left{
    float: left;
    width: 120PX;
    padding-right: 200px;
}
.right{
    
    justify-content: right;
    margin: right;
    padding-left: 200px;
}
.CN{
    
}
.t{
     text-size-adjust: 200%;
}
.red{
    background-color: red;
    color: white;
    text-align: center;
    margin-inline-start: 140px;
    width: 1500px;
}
.bd{
    border-left: 5px solid blue;
    border-bottom: 5px solid blue;
    border-right: 5px solid blue;
}
.blue{
    background-color:lightblue;
    padding-bottom: 2px;
}
.p{
    text-align: center;
}
.un{
    background-color: lightblue;
    
}